<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cat.css') }}">
    <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
 
</head>
<body>
    <header>
   <!-- Contenedor para la cabecera -->
   <div class="header-container d-flex justify-content-between align-items-center p-3">
    <div class="welcome-text">
        <h1>Catalogo de Productos </h1>  
    </div>
</header>
    <div class="container-fluid">  <!-- Usamos container-fluid para diseño de dos columnas -->
        <div class="row">
            <!-- Barra lateral para categorías -->
            <div class="col-md-1 sidebar">

                <ul class="list-group">
                    <li class="list-group-item">Categoría 1</li>
                    <li class="list-group-item">Categoría 2</li>
                    <li class="list-group-item">Categoría 3</li>
                    <li class="list-group-item">Categoría 4</li>
                    <li class="list-group-item">Categoría 5</li>
                    <li class="list-group-item">Categoría 6</li>

                </ul>
            </div>
     
    <div class="col-md-9"> 
        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4">
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto[1] }}</h5> <!-- Nombre del producto -->
                        <p class="card-text">{{ producto[2] }}</p> <!-- Descripción del producto -->
                        <p class="card-text">Precio: ${{ producto[3] }}</p> <!-- Precio del producto -->
                    </div>
                </div>
            </div>

            {% endfor %}

    <!-- Incluir scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

    
