<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cat.css') }}">
    <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
 
</head>
<body>
    <header>
        <div class="header-container d-flex justify-content-between align-items-center p-3">
            <div class="welcome-text">
                <center><h1 class="display-4">Catálogo de Productos</h1></center>
            </div>
            <div class="btn-inicio ml-auto">
                <a href="/home_empleado" class="btn btn-primary">
                    <i class="fa-solid fa-house"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <ul class="list-group">
                    {% for tipo in tipos_producto %}
                    <li class="list-group-item">
                        <a href="/catalogo_e?tipo_producto_id={{ tipo.id }}">{{ tipo.nombre }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for producto in productos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre }}</h5> <!-- Nombre del producto -->
                                <p class="card-text">{{ producto.descripcion }}</p> <!-- Descripción del producto -->
                                <p class="card-text">Precio: S/{{ producto.precio_pub }}</p> <!-- Precio del producto -->
                                <p class="card-text">Stock disponible: {{ producto.stock }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Sección de paginación -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if current_page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('catalogo_empleado', page=current_page-1) }}">Anterior</a>
                        </li>
                        {% endif %}
                        {% for page in range(1, total_pages + 1) %}
                        <li class="page-item {% if page == current_page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('catalogo_empleado', page=page) }}">{{ page }}</a>
                        </li>
                        {% endfor %}
                        {% if current_page < total_pages %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('catalogo_empleado', page=current_page+1) }}">Siguiente</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

    
