<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cat.css') }}">
 
</head>
<body>
    <div class="container-fluid">  <!-- Usamos container-fluid para diseño de dos columnas -->
        <div class="row">
            <!-- Barra lateral para categorías -->
            <div class="col-md-1 sidebar">

                <ul class="list-group">
                    <li class="list-group-item">Categoría 1</li>
                    <li class="list-group-item">Categoría 2</li>
                    <li class="list-group-item">Categoría 3</li>
                    <li class="list-group-item">Categoría 4</li>
                    <li class="list-group-item">Categoría 5</li>
                    <li class="list-group-item">Categoría 6</li>

                </ul>
            </div>
            <!-- Contenido del catálogo -->
            <div class="col-md-9">  <!-- 9 de 12 columnas para el contenido del catálogo -->
                <div class="row">
                    {% for producto in catalogo %}
                    <div class="col-md-4">  
                        <div class="card my-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.nombre }}</h5>
                                <p class="card-text">{{ producto.descripcion }}</p>
                                <p class="card-text">Precio: ${{ producto.precio }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Incluir scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


    
