<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asesoría Virtual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_chat.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/home_cliente"><button class="back-button"><i class="fa-solid fa-house"></i></button></a>
    <div class="leaf-container">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
    </div>
    <div class="chat-container">
        <header>
            <h1>Bienvenido al ChatBot!</h1>
            <div class="logo">Fitogreen</div>
        </header>
        <div class="chat-content">
            <div class="chat-box">
                <div class="messages" id="messages"></div>
            </div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Escribe tu mensaje..." class="form-control" >
                <button id="send-button">Enviar</button>
            </div>
        <div class="faq">
            <h2>Preguntas frecuentes:</h2>
            <ul id="initial-options">
                <li><a href="#" data-question="envios">Envíos</a></li>
                <li><a href="#" data-question="recepcion">Recepción</a></li>
                <li><a href="#" data-question="pagos">Pagos</a></li>
                <li><a href="#" data-question="compras">Compras</a></li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            const messages = $('#messages');
            const userInput = $('#user-input');
            const sendButton = $('#send-button');

            // Manejar clic en opciones iniciales
            $('#initial-options li').click(function() {
                const userInputText = $(this).text();
                addMessage(userInputText, 'user');
                sendAjaxRequest(userInputText);
            });

            // Manejar clic en el botón de envío
            sendButton.click(function() {
                const userInputText = userInput.val();
                if (userInputText) {
                    addMessage(userInputText, 'user');
                    userInput.val('');
                    sendAjaxRequest(userInputText);
                }
            });

            // Manejar el evento de tecla 'Enter'
            userInput.keypress(function(e) {
                if (e.which === 13) {
                    sendButton.click();
                }
            });

            // Función para añadir mensajes
            function addMessage(text, sender) {
                const messageElem = $('<div>').addClass(sender === 'user' ? 'user-message' : 'bot-message');
                messageElem.html(`<div class="message-bubble">${text}</div>`);
                messages.append(messageElem);
                animateMessage(messageElem, sender);
                messages.scrollTop(messages[0].scrollHeight);
            }

            // Función para animar los mensajes
            function animateMessage(elem, sender) {
                elem.css({
                    opacity: 0,
                    transform: sender === 'user' ? 'translateX(20px)' : 'translateX(-20px)'
                });
                setTimeout(() => {
                    elem.css({
                        opacity: 1,
                        transform: 'translateX(0)'
                    });
                }, 10);
            }

            // Función para enviar solicitudes AJAX
            function sendAjaxRequest(message) {
                $.ajax({
                    url: '/get_response',
                    method: 'POST',
                    data: { message: message },
                    success: function(response) {
                        addMessage(response.response, 'bot');
                    }
                });
            }
        });
    </script>
</body>
</html>