<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contacto</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
<body>
    <header>
        <div class="top-bar">
            <span class="location"><i class="fas fa-map-marker-alt"></i>Cañete, Peru</span>
            <span class="email"><i class="fas fa-envelope"></i>fitogreen1424@gmail.com</span>
            <a href="https://www.tiktok.com/@vivero.julio.vice?lang=es" target="_blank">
            <span class="tiktok"><i class="fa-brands fa-tiktok"></i> Fitogreen</span></a>
            <a href="https://www.facebook.com/FitogreenV/?locale=es_LA" target="_blank">
            <span class="facebook"><i class="fa-brands fa-facebook"></i> Fitogreen</span></a>
                <span class="phone"><i class="fa-solid fa-phone"></i>+51 976 330 835</span>
        </div>
        <nav class="navbar">
            <a class="logo-link" href="/home_cliente">
                <div class="logo">Fitogreen</div>
            </a>
            <ul class="nav-links">
                <li><a class="nav-link active" href="/catalogo">Tienda</a></li>
                <li><a class="nav-link" href="/chat">Asesoría virtual</a></li>
                <li><a class="nav-link" href="/contacto">Contacto</a></li>
                <li><a class="nav-link" href="/actualizar_datos">Actualizar mis datos</a></li>
                <li><a class="nav-link" href="{{ url_for('lista_pedidos') }}">Pedidos</a></li>
            </ul>
            <div class="nav-icons">
                <form action="/buscar_productos" method="get" class="search-form">
                    <input type="text" class="search-input" name="q" placeholder="Buscar por nombre o descripción" value="{{ request.args.get('q', '') }}">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/carrito" class="shopping-cart btn">
                    <i class="fas fa-shopping-bag"></i>
                </a>
                <a href="/logout" class="logout-button btn btn-danger"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a>
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Contacto</h1>
        <form action="/enviar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="5" maxlength="532" required></textarea>
                <div id="contador-palabras">532 palabras restantes</div>
            </div>
            <div class="form-group">
                <label for="imagen">Adjuntar imagen:</label>
                <input type="file" id="imagen" name="imagen" accept="image/*">
            </div>
            <button type="submit">Enviar</button>
        </form>
        {% if success %}
            <p class="message">¡Tu mensaje ha sido enviado correctamente!</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
    var textarea = document.getElementById('mensaje');
    var contador = document.getElementById('contador-palabras');
    var limitePalabras = 532;

    textarea.addEventListener('input', function() {
        var palabras = this.value.split(/\s+/).length;
        if (palabras > limitePalabras) {
            this.value = this.value.split(/\s+/).slice(0, limitePalabras).join(" ");
            palabras = limitePalabras;
        }
        var palabrasRestantes = limitePalabras - palabras;
        contador.textContent = palabrasRestantes + ' palabra(s) restante(s)';
    });

    // Inicialización del contador
    var palabrasIniciales = textarea.value.split(/\s+/).length;
    var palabrasRestantesInicial = limitePalabras - palabrasIniciales;
    contador.textContent = palabrasRestantesInicial + ' palabra(s) restante(s)';
    });
    </script>
</body>
</html>
