<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_con.css') }}">
</head>
<body>
    <div class="container">
        <h1>Datos personales:</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ cliente.nombre }}" readonly>
        </div>
        <div class="form-group">
            <label for="apellido">Apellidos:</label>
            <input type="text" id="apellido" name="apellido" value="{{ cliente.apellidos }}" readonly>
        </div>
        <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" value="{{ cliente.correo }}" readonly>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono Celular:</label>
            <input type="text" id="telefono" name="telefono" value="{{ cliente.telefono_celular }}" readonly>
        </div>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" value="{{ cliente.dni_ruc }}" readonly>
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ cliente.fecha_nacimiento }}" readonly>
        </div>
        <div class="form-group">
            <label for="departamento">Departamento:</label>
            <input type="text" id="departamento" name="departamento" value="{{ cliente.departamento }}" readonly>
        </div>
        <div class="form-group">
            <label for="provincia">Provincia:</label>
            <input type="text" id="provincia" name="provincia" value="{{ cliente.provincia }}" readonly>
        </div>
        <div class="form-group">
            <label for="distrito">Distrito:</label>
            <input type="text" id="distrito" name="distrito" value="{{ cliente.distrito }}" readonly>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value="{{ cliente.direccion }}" readonly>
        </div>
    
    </div>
</body>
</html>
