<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <header>
        <div class="top-bar">
            <span class="location"><i class="fas fa-map-marker-alt"></i> Pachacamac 285</span>
            <span class="email"><i class="fas fa-envelope"></i> fitogreen@empresa.com</span>
            <span class="tiktok"><i class="fa-brands fa-tiktok"></i> Fitogreen</span>
            <span class="facebook"><i class="fa-brands fa-facebook"></i> Fitogreen</span>
        </div>
        <nav class="navbar">
            <div class="logo">Fitogreen</div>
            <ul class="nav-links">
                <li><a class="nav-link active" href="/catalogo">Tienda</a></li>
                <li><a class="nav-link" href="/chat">Asesoría virtual</a></li>
                <li><a class="nav-link" href="/contacto">Contacto</a></li>
                <li><a class="nav-link" href="/actualizar_datos">Actualizar mis datos</a></li>
                <li><a class="nav-link" href="{{ url_for('lista_pedidos') }}">Pedidos</a></li>
            </ul>
            <div class="nav-icons">
                <form action="/buscar_productos" method="get" class="search-form">
                    <input type="text" class="search-input" name="q" placeholder="Buscar por nombre o descripción" value="{{ request.args.get('q', '') }}">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/carrito" class="shopping-cart btn ">
                    <i class="fas fa-shopping-bag"></i>
                </a>
                <a href="/logout" class="logout-button btn btn-danger"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a>
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <br><br>
    <div class="container">
        <div class="form-row">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{ cliente.nombre }}" readonly="">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" name="apellidos" value="{{ cliente.apellidos }}" readonly="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" name="correo" value="{{ cliente.correo }}" readonly="">
            </div>
            <div class="form-group">
                <label for="telefono_celular">Teléfono Celular</label>
                <input type="text" id="telefono_celular" name="telefono_celular" value="{{ cliente.telefono_celular }}" readonly="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="dni_ruc">DNI o RUC</label>
                <input type="text" id="dni_ruc" name="dni_ruc" value="{{ cliente.dni_ruc }}" readonly="">
            </div>
            <div class="form-group">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" value="{{ cliente.fecha_nacimiento }}" readonly="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" id="departamento" name="departamento" value="{{ cliente.departamento }}" readonly="">
            </div>
            <div class="form-group">
                <label for="provincia">Provincia</label>
                <input type="text" id="provincia" name="provincia" value="{{ cliente.provincia }}" readonly="">
            </div>
            <div class="form-group">
                <label for="distrito">Distrito</label>
                <input type="text" id="distrito" name="distrito" value="{{ cliente.distrito }}" readonly="">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" value="{{ cliente.direccion }}" readonly="">
            </div>
        </div>
        <a  href="/actualizar_datos" class="btn btn-primary">Actualizar Datos</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>