<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Pedido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>
    <style>
        .card {
            margin-bottom: 20px;
        }
        .pedido-lista {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <div class="top-bar">
            <span class="location"><i class="fas fa-map-marker-alt"></i> Pachacamac 285</span>
            <span class="email"><i class="fas fa-envelope"></i> fitogreen@empresa.com</span>
            <span class="tiktok"><i class="fa-brands fa-tiktok"></i> Fitogreen</span>
            <span class="facebook"><i class="fa-brands fa-facebook"></i> Fitogreen</span>
        </div>
        <nav class="navbar">
            <a class="logo-link" href="/home_empleado">
                <div class="logo">Fitogreen</div>
            </a>
            <ul class="nav-links">
                <li><a class="nav-link active" href="/catalogo_e">Inventario</a></li>
                <li><a class="nav-link" href="/agregar_producto">Agregar nuevo producto</a></li>
                <li><a class="nav-link" href="/reporte">Reporte Mensual</a></li>
                <li><a class="nav-link" href="/datos_e">Mis datos</a></li>
                <li><a class="nav-link" href="{{ url_for('lista_pedidos_e') }}">Lista de Pedidos</a></li>
            </ul>
            <div class="nav-icons">
                <form action="/buscar_productos_e" method="get" class="search-form">
                    <input type="text" class="search-input" name="q" placeholder="Buscar por nombre o descripción" value="{{ request.args.get('q', '') }}">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/logout" class="logout-button btn btn-danger"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a>
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

    </header>
    <div class="container">
        <div class="toast-container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Notificación</strong>
                        </div>
                        <div class="toast-body">
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    <div class="container">
        <h1>Detalles del Pedido</h1>

        {% if pedido %}
            <div class="card">
                <div class="card-header" id="heading{{ pedido.pedido_id }}">
                    <h2 class="mb-0">
                        Pedido #{{ pedido.pedido_id }} - {{ pedido.fecha_pedido }}
                    </h2>
                </div>

                <div class="card-body">
                    <div class="form-row mb-3">
                        <div class="col">
                            <div class="form-group">
                                <p><strong>Cliente:</strong> {{ pedido.nombre_cli }} {{ pedido.apellido_cli }}</p>
                                <p><strong>Dirección de Envío:</strong> {{ pedido.direccion_pedido }}</p>
                                <p><strong>Método de Pago:</strong> {{ pedido.metodo_pago }}</p>
                                <p><strong>Total:</strong> S/{{pedido.total}}</p>
                            </div>
                        </div>
                        <div class="col">
                            <form action="{{ url_for('cambiar_estado_pedido', pedido_id=pedido.pedido_id) }}" method="POST">
                                <div class="form-group">
                                    <label for="estado"><strong>Estado Actual:</strong></label>
                                    <p>{{ pedido.estado }}</p>
                                </div>
                                <div class="form-group">
                                    <label for="nuevo_estado"><strong>Cambiar Estado:</strong></label>
                                    <select class="form-control" id="estado" name="estado">
                                        <option value="" disabled selected>Seleccione un estado</option>
                                        <option value="Pendiente">Pendiente <i class="fa-solid fa-hourglass-half"></i></option>
                                        <option value="En camino">En Camino <i class="fa-solid fa-truck-fast"></i></option>
                                        <option value="Con retraso">Con Retraso <i class="fa-solid fa-clock"></i></option>
                                        <option value="Entregado">Entregado <i class="fa-solid fa-circle-check"></i></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </form>
                        </div>
                    </div>

                    <h5 class="card-title">Productos</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio/Litro</th>
                                    <th>Precio Unitario</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detalle in pedido.detalles_pedidos %}
                                <tr>
                                    <td>
                                        <strong>{{ detalle.producto.nombre }} ({{ detalle.producto.presentacion }})</strong><br>
                                    </td>
                                    <td>{{ detalle.cantidad }}</td>
                                    <td>
                                        {% if detalle.producto.presentacion == "1 litro" %}
                                            {{ detalle.precio_unitario}}
                                        {% else %}
                                            {{ detalle.producto.precio_dis}}
                                        {% endif %}
                                    </td>
                                    <td>{{ detalle.precio_unitario}}</td>
                                    <td>{{ (detalle.cantidad * detalle.precio_unitario)}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No se encontró el pedido solicitado.</p>
        {% endif %}

        <a href="{{ url_for('lista_pedidos_e') }}" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Volver</a>
    </div>
    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $(".alert").alert('close');
            }, 15000); // 15000 ms = 15 segundos
        });
    </script>
</body>
</html>
