<!DOCTYPE html>
<html lang="es">

<head>
    
    <meta charset="UTF-8">
    <title>Home del Cliente</title>

    <!-- Incluir Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Incluir CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style_c.css') }}">

       <!-- Incluir FontAwesome para íconos -->
       <script src="https://kit.fontawesome.com/9e204c657e.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Contenedor para la cabecera -->
    <div class="header-container d-flex justify-content-between align-items-center p-3">
        <div class="welcome-text">
            <h1>Bienvenido a FitoGreen, {{ username }}! <i class="fa-solid fa-seedling"></i></h1>  
        </div>
        <!-- Carrito  -->
        <div class="shopping-cart">
            <button class="btn btn-primary">
                <i class="fas fa-shopping-cart"></i>  
            </button>
     
        </div>
    </div>
<div></div>
     <!-- Barra de navegación -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        
        <ul class="navbar-nav mr-auto">  
            <li class="nav-item">
                <a class="nav-link active" href="/catalogo">Catálogo <i class="fa-solid fa-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Asesoría virtual <i class="fa-solid fa-comment"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto <i class="fa-solid fa-phone"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mis datos <i class="fa-solid fa-user"></i></a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">  <!-- 'ml-auto' empuja a la izquierda -->
            <div class="input-group">  
                <input type="text" class="form-control" placeholder="Buscar productos..." aria-label="Buscar">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Buscar</button>
                </div>
            </div>
        </div>
        <div class="navbar-nav ml-auto">  
            <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
        </div>
    </div>
</nav>
   
      {% include 'catalogo.html' %}

    </div>

    <!-- Incluir Bootstrap JavaScript y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
</body>
</html>

