<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitogreen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/55e98fa3e6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="top-bar">
            <span class="location"><i class="fas fa-map-marker-alt"></i>Cañete, Peru</span>
            <span class="email"><i class="fas fa-envelope"></i>fitogreen1424@gmail.com</span>
            <a href="https://www.tiktok.com/@vivero.julio.vice?lang=es" target="_blank">
            <span class="tiktok"><i class="fa-brands fa-tiktok"></i> Fitogreen</span></a>
            <a href="https://www.facebook.com/FitogreenV/?locale=es_LA" target="_blank">
            <span class="facebook"><i class="fa-brands fa-facebook"></i> Fitogreen</span></a>
                <span class="phone"><i class="fa-solid fa-phone"></i>+51 976 330 835</span>
        </div>
        <nav class="navbar">
            <div class="logo">Fitogreen</div>
            <ul class="nav-links">
                <li><a class="nav-link active" href="/catalogo_in">Tienda</a></li>
                <li><a class="nav-link" href="/login">Asesoría virtual</a></li>
                <li><a class="nav-link" href="/login">Contacto</a></li>
                <li><a class="nav-link" href="/login">Actualizar mis datos</a></li>
                <li><a class="nav-link" href="/login">Pedidos</a></li>
            </ul>
            <div class="nav-icons">
                <form action="/buscar_productos" method="get" class="search-form">
                    <input type="text" class="search-input" name="q" placeholder="Buscar por nombre o descripción" value="{{ request.args.get('q', '') }}">
                    <button class="search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <a href="/login" class="shopping-cart btn btn-secondary">
                    <i class="fas fa-shopping-bag"></i>
                </a>
                <a href="/login" class="logout-button btn btn-primary"><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i></a>
            </div>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="toast-container">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Notificación</strong>
                        </div>
                        <div class="toast-body">
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    <section class="hero-banner">
        <div class="hero-content">
            <p class="tagline">100% Ecológicos</p>
            <p class="tagline1">Verde que embellece tu espacio</p>
        </div>
        <div class="container"> 
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="https://scontent.flim28-2.fna.fbcdn.net/v/t39.30808-6/304070922_771544710484706_4600329462796970834_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=KH1iTnzT9WsQ7kNvgE6OjRN&_nc_ht=scontent.flim28-2.fna&oh=00_AYCCWzFMSoxKYAm6MY--U0ElS5r14XdK5_c9-T_kk8zTww&oe=66936078" alt="Los Angeles" style="width:100%;">
                </div>
                <div class="item">
                  <img src="https://fitomolina.es/wp-content/uploads/2020/07/lechugas.jpg" alt="Chicago" style="width:100%;">
                </div>
                <div class="item">
                    <img src="https://news.agroads.com.ar/wp-content/uploads/2023/11/Soja-Desab.jpg" alt="New york" style="width:100%;">
                  </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Antes</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Después</span>
              </a>
            </div>
          </div>
      </section>
    
      <br>
    <div class="features">
      <div class="feature">
          <div class="icon">
              <img src="https://cdn-icons-png.flaticon.com/512/3054/3054929.png" alt="Envío gratis">
          </div>
          <h3>Envío gratis</h3>
          <div class="descrip"><p>Por compras superiores a s/.500</p></div>
      </div>
      <div class="feature">
          <div class="icon">
              <img src="https://cdn-icons-png.flaticon.com/512/2522/2522021.png" alt="Seguridad al pagar">
          </div>
          <h3>Seguridad al pagar</h3>
          <div class="descrip"><p>Pago 100% seguro</p></div>
      </div>
      <div class="feature">
          <div class="icon">
              <img src="https://cdn-icons-png.freepik.com/512/18/18383.png" alt="Regreso de 30 días">
          </div>
          <h3>Regreso de 30 días</h3>
          <div class="descrip"><p>Garantía de dinero de 30 días</p></div>
      </div>
      <div class="feature">
          <div class="icon">
              <img src="https://cdn.icon-icons.com/icons2/2802/PNG/512/phone_icon_178749.png" alt="Soporte 24/7">
          </div>
          <h3>Soporte 24/7</h3>
          <div class="descrip"><p>ChatBot al servicio de cliente</p></div>
      </div>
    </div>
    <br>
    
    <script src="script.js"></script>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
                $(".alert").alert('close');
            }, 15000); // 15000 ms = 15 segundos
        });
    </script>
</body>
</html>

