<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_r.css') }}">
    <script>
        function toggleFields() {
            var tipo = document.getElementById('tipo').value;
            var clienteFields = document.getElementById('clienteFields');
            var empleadoFields = document.getElementById('empleadoFields');
            var administradorFields = document.getElementById('administradorFields');

            // Ocultar todos los campos primero
            clienteFields.style.display = 'none';
            empleadoFields.style.display = 'none';
            administradorFields.style.display = 'none';

            // Mostrar solo los campos relevantes según el tipo de usuario seleccionado
            if (tipo === 'cliente') {
                clienteFields.style.display = 'block';
            } else if (tipo === 'empleado') {
                empleadoFields.style.display = 'block';
            } else if (tipo === 'administrador') {
                administradorFields.style.display = 'block';
            }
        }
    </script>
</head>
<body>
    <br><br><br>
    <div class="container">
        <center><h1 class="display-2">Registrar Usuario</h1></center>
        <br> <br>
        <form method="POST" action="{{ url_for('register') }}">
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="correo">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="telefono_celular">Teléfono Celular</label>
                        <input type="text" class="form-control" id="telefono_celular" name="telefono_celular" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="tipo">Tipo de Usuario</label>
                        <select class="form-control" id="tipo" name="tipo" onchange="toggleFields()" required>
                            <option value="">Selecciona un tipo</option>
                            <option value="cliente">Cliente</option>
                            <option value="empleado">Empleado</option>
                            <option value="administrador">Administrador</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="clienteFields" style="display: none;">
                <!-- Campos específicos para clientes -->
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <input type="text" class="form-control" id="departamento" name="departamento">
                </div>
                <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <input type="text" class="form-control" id="provincia" name="provincia">
                </div>
                <div class="form-group">
                    <label for="distrito">Distrito</label>
                    <input type="text" class="form-control" id="distrito" name="distrito">
                </div>
                <div class="form-group">
                    <label for="dni_ruc">DNI o RUC</label>
                    <input type="text" class="form-control" id="dni_ruc" name="dni_ruc">
                </div>
            </div>

            <div id="empleadoFields" style="display: none;">
                <!-- Campos específicos para empleados -->
                <div class="form-group">
                    <label for="sueldo_em">Sueldo</label>
                    <input type="number" class="form-control" id="sueldo_em" name="sueldo">
                </div>
                <div class="form-group">
                    <label for="dni_em">DNI</label>
                    <input type="text" class="form-control" id="dni_em" name="dni">
                </div>
            </div>

            <div id="administradorFields" style="display: none;">
                <!-- Campos específicos para administradores -->
                <div class="form-group">
                    <label for="sueldo_ad">Sueldo</label>
                    <input type="number" class="form-control" id="sueldo_ad" name="sueldo">
                </div>
                <div class="form-group">
                    <label for="dni_ad">DNI</label>
                    <input type="text" class="form-control" id="dni_ad" name="dni">
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
            </div>
            <button name="submit" type="submit" class="btn btn-primary">Registrar usuario</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
