body {
    background-color: #4ea93b !important; /* Usar !important para aumentar la especificidad */
}

.header-container {

    background-color: #006414; 
    color: white;
    padding: 20px;
    text-align: center;

}
.table-container {
    margin-top: 20px;  /* Ajusta el margen superior */
    margin-bottom: 20px;  /* Ajusta el margen inferior */
    padding: auto;  /* Ajusta el relleno si es necesario */
    display: none;
    
}

.table {
    width: 80%;  /* Ajusta el ancho de la tabla */
    max-width: 90%;  /* Asegura que no se desborde del contenedor */
    margin-left: auto;  /* Centra la tabla horizontalmente */
    margin-right: auto;  /* Centra la tabla horizontalmente */
}

.table td,
.table th {
    white-space: nowrap; /* Evita el salto de línea dentro de las celdas */
}

.table-container.active {
    display: block;
}

.mt-4 {

    width: 90%;  /* Ajusta el ancho de la tabla */
    max-width: 90%;  /* Asegura que no se desborde del contenedor */
    margin-left: auto;  /* Centra la tabla horizontalmente */
    margin-right: auto;  /* Centra la tabla horizontalmente */
    color: white;

}