
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
    min-width: 200px;
}
label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

body {

    background: #5ccb5f;  
}

.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.welcome-text{

    color: white
    
    }
.header-container {

        background-color: #006414; 
        color: Black;
        padding: 20px;
        text-align: center;
        border: 1px solid black;  /* Línea divisoria */
    }