body {
    background: #4ea93b;  
}

.container {
    max-width: 0 auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}


.container {
    background: rgba(255, 255, 255, 0.9);  
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
}

.submitBtn {
    display: block;
    margin-left: 0px;
    padding: 15px 30px;
    border: none;
    background-color: #26874e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 25px;
  }
  
  .submitBtn:hover {
    background-color: #73c883;
    transform: translateY(-2px);
  }